<!DOCTYPE HTML>
<html lang="en"
      layout:decorate="default"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Product</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <div class="col-xs-8 col-md-8">
        <h3>
            <a href="/product" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Product</a>
        </h3>
        <h2 th:text="${product.prodName}"></h2>
        <h2><img th:src="${product.prodImage}" width="200"/></h2>
        <dl class="list">
            <dt>Product Description</dt>
            <dd th:text="${product.prodDesc}"></dd>
            <dt>Product Description</dt>
            <dd th:text="${product.prodPrice}"></dd>
        </dl>
        <form action="/delete">
            <input name="id" th:value="${product.id}" type="hidden"/>
            <h2><input class="btn btn-danger" onclick="return confirm('Are you sure?');" type="submit" value="Delete"/>
                <a th:href="@{'/edit/' + ${product.id}}" class="btn btn-warning">Edit</a></h2>
        </form>
    </div>
</div>
</body>
</html>